.grey-toolbar {
  background-color: #9e9e9e;
  color: white;
}

.custom-toolbar {
  height: 30px;
  margin: 0 auto;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  color: white;
  font-size: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

.custom-icon {
  margin-top: 5px;
}

.custom-menu {
  background-color: royalblue;
  color: white;
  margin-top: 5px;
}

.custom-button {
  color: white !important;
}

.custom-rounded-field {
  width: 20%;
  height: 60px;
}

.custom-banner-text1 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  color: white;
}

.custom-banner-text2 {
  font-size: 6em;
  font-weight: normal;
  margin: 0;
  color: white;
}

.custom-rounded-field .mat-form-field-flex {
  border-radius: 50px;
}

.custom-rounded-field .mat-form-field-infix {
  border-radius: 50px;
  padding: 0 12px;
}

.custom-rounded-field .mat-input-element {
  padding: 0 12px;
}

.card-header {
  margin-top: 0%;
  margin-right: -1.5%;
  color: #000080;
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.custom-search-bar {
  border-radius: 10px;
  border: none;
  height: 25px;
}

.mb-sm-3 {
  margin-bottom: 1rem !important;
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: 1rem;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  --bs-btn-color: white;
  --bs-btn-bg: primary;
  --bs-btn-border-color: primary;
  --bs-btn-hover-color: primary;
  --bs-btn-hover-bg: primary;
  --bs-btn-hover-border-color: primary;
  --bs-btn-focus-shadow-rgb: 241, 46, 141;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: primary;
  --bs-btn-active-border-color: primary;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: white;
  --bs-btn-disabled-bg: primary;
  --bs-btn-disabled-border-color: primary;
  margin-top: 5px;
}

.btn-secondary {
  --bs-btn-color: white;
  background-color: royalblue;
  --bs-btn-bg: primary;
  --bs-btn-border-color: primary;
  --bs-btn-hover-color: primary;
  --bs-btn-hover-bg: primary;
  --bs-btn-hover-border-color: primary;
  --bs-btn-focus-shadow-rgb: 241, 46, 141;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: primary;
  --bs-btn-active-border-color: primary;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: white;
  --bs-btn-disabled-bg: primary;
  --bs-btn-disabled-border-color: primary;
  margin-top: 5px;
  padding: 7px;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.custom-calendar {
  border-radius: 20px;
  border: none;
  height: 70px;
}

.card {
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20rem;
  height: 33rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

/*.card-body {*/
/*  padding: 2px 16px;*/
/*}*/

.text-body {
  justify-content: center;
  padding-left: 1rem;
}

table {
    --bs-table-color: #212529;
    --bs-table-bg: transparent;
    --bs-table-border-color: #212529;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

img {
  width: 100px; /* or any other size */
  height: auto;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

.banner {
  background-image: url("/assets/carousel-2.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 750px;
  color: white;
  text-align: center;
  position: relative;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.banner > * {
  position: relative;
  z-index: 2;
}

.banner-content {
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  bottom: 0;
  left: 0;
}

.container-fluid {
  max-width: 1140px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.card-body {
  display: grid;
  min-height: 800px;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 55px ;
  justify-content: center;
  height: auto;
  padding: 20px;
}

.dest-color {
  color: black;
  font-size: large;
}

.address-color {
  color: royalblue;
}

.another-info-color {
  font-size: small;
}

.flex-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}



